:host {
  display: table-row;
  height: 40px;
}

:host::shadow > td,
:host::shadow > x-table-cell {
  border-top: 1px solid #e8e8e8;
  vertical-align: middle;
}

:host(.disabled)::shadow > td,
:host(.disabled)::shadow > x-table-cell {
  background: rgba(0, 0, 0, 0.5);
  border-color: #747474;
}
